// .exception-title {
//     font-size: 2rem;
//     font-weight: 600;
// }

.exception-detail {
    font-size: 2rem;
}

::ng-deep .p-button {
    color: var(--surface-a);
    background: var(--blue-500);
    border: 1px solid var(--blue-500);

    &:enabled:hover {
        color: var(--surface-a);
        background: var(--blue-700);
        border: 1px solid var(--blue-700);
    }
}