<!-- 404 Not Found 頁面 -->
<div class="not-found">
  <div class="card">
    <div
      class="flex flex-column align-items-center justify-content-center card-container h-screen"
    >
      <!-- <div class="exception-title mb-3">表單失效頁面</div> -->
      <div class="exception-detail mb-7">表單資料失效，請重新輸入</div>
      <div class="exception-detail mb-3">
        <button pButton pRipple btnback type="button" (click)="redirectHome()">
          Back
        </button>
      </div>
    </div>
  </div>
</div>
