<!-- 登入頁面 -->
<form [formGroup]="formGroup">
  <div class="card">
    <div
      class="flex flex-column align-items-center justify-content-center card-container h-screen"
    >
      <p-card class="xl:max-w-25rem md:max-w-25rem sm:max-w-screen">
        <p-panel header="使用者登入" pFocusTrap>
          <div class="grid p-fluid" pFocusTrap>
            <!-- 使用者登入 -->
            <!-- <div class="col-12 text-2xl font-medium" style="font-weight: bold">
             
            </div> -->
            <div class="col-12">
              <!-- 帳號 -->
              <label for="username">Username</label>
              <input
                type="text"
                pInputText
                formControlName="username"
                [ngClass]="{ 'ng-dirty': formControlInvalid('username') }"
              />
              <div *ngIf="formControlInvalid('username')">
                <small
                  class="p-error"
                  *ngIf="formControl('username').errors?.['required']"
                >
                  資料不可為空
                </small>
              </div>
            </div>
            <!-- 密碼 -->
            <div class="col-12">
              <label for="password">Password</label>
              <input
                type="password"
                pPassword
                [feedback]="false"
                formControlName="password"
                [ngClass]="{ 'ng-dirty': formControlInvalid('password') }"
              />
              <div *ngIf="formControlInvalid('username')">
                <small
                  class="p-error"
                  *ngIf="formControl('username').errors?.['required']"
                >
                  資料不可為空
                </small>
              </div>
            </div>
            <div class="col-12">
              <button
                type="button"
                pButton
                pRipple
                label="Sign in"
                (click)="login()"
              ></button>
            </div>
          </div>
          <div class="grid p-fluid">
            <div class="col-12">
              <button
                type="button"
                pButton
                pRipple
                class="p-button-outlined"
                icon="pi pi-microsoft"
                label="Sign in with Microsoft"
              ></button>
            </div>
            <div class="col-12">
              <button
                type="button"
                pButton
                pRipple
                class="p-button-outlined"
                icon="pi pi-google"
                label="Sign in with Google"
              ></button>
            </div>
          </div>
        </p-panel>
      </p-card>
    </div>
  </div>
</form>
