<form [formGroup]="formGroup">
  <p-panel header="Email 範本配置">
    <div class="card" #contentElement>
      <div class="grid p-fluid">
        <div class="col-12 md:col-3 lg:col-3">
          <label class="required">範本名稱</label>
          <p-dropdown
            [options]="templateNames"
            optionValue="value"
            placeholder="請選擇"
            [filter]="true"
            filterBy="value"
            [showClear]="true"
            appendTo="body"
            formControlName="templateKey"
          />
          <div *ngIf="formControlInvalid('templateKey')">
            <small class="p-error"> 該欄位不能為空 </small>
          </div>
        </div>
      </div>
    </div>
    <div class="grid p-fluid justify-content-end">
      <div class="col-12 md:col-3 lg:col-2">
        <button type="button" pButton label="查詢" (click)="query()"></button>
      </div>
      <!-- <div class="col-12 md:col-3 lg:col-2">
          <button
            type="button"
            class="p-button-secondary p-button-outlined"
            pButton
            label="清除"
            (click)="clear()"
          ></button>
        </div> -->
    </div>
  </p-panel>
</form>
