<form [formGroup]="formGroup">
  <p-panel header="明細確認">
    <div class="card" #contentElement>
      <div class="grid p-fluid">
        <div class="col-12 md:col-3 lg:col-3">
          <label>車次</label>
          <input
            type="text"
            pInputText
            formControlName="trainNo"
            [readOnly]="true"
          />
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label>車種</label>
          <input
            type="text"
            pInputText
            formControlName="trainKind"
            [readOnly]="true"
          />
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label>票價</label>
          <input
            type="text"
            pInputText
            formControlName="price"
            [readOnly]="true"
          />
        </div>
      </div>
      <div class="grid p-fluid">
        <div class="col-12 md:col-3 lg:col-3">
          <label>搭乘日期</label>
          <input
            type="text"
            pInputText
            formControlName="takeDate"
            [readOnly]="true"
          />
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label>發車時間</label>
          <input
            type="text"
            pInputText
            formControlName="fromStopTime"
            [readOnly]="true"
          />
        </div>

        <div class="col-12 md:col-3 lg:col-3">
          <label>車廂</label>
          <input
            type="text"
            pInputText
            formControlName="carNo"
            [readOnly]="true"
          />
        </div>

        <div class="col-12 md:col-3 lg:col-3">
          <label>座位</label>
          <input
            type="text"
            pInputText
            formControlName="seatNo"
            [readOnly]="true"
          />
        </div>
      </div>
      <div class="grid p-fluid">
        <div class="col-12 md:col-3 lg:col-3">
          <label>起站</label>
          <input
            type="text"
            pInputText
            formControlName="fromStop"
            [readOnly]="true"
          />
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label>迄站</label>
          <input
            type="text"
            pInputText
            formControlName="toStop"
            [readOnly]="true"
          />
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label>付款方式</label>
          <input
            type="text"
            pInputText
            formControlName="payMethod"
            [readOnly]="true"
          />
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label>付款狀態</label>
          <input
            type="text"
            pInputText
            formControlName="status"
            [readOnly]="true"
          />
        </div>
      </div>
      <div class="grid p-fluid justify-content-end">
        <div class="col-12 md:col-2 lg:col-2">
          <button
            type="button"
            pButton
            label="返回"
            (click)="redirectHome()"
          ></button>
        </div>
      </div>
    </div>
  </p-panel>
</form>
